Repository data-provider/core: changes, and which Codecov flags are due for each by the changed paths.
All: axios, browser-storage, core, memory, prismic, react

codecov.yml:

github_checks:
    annotations: true
coverage:
  status:
    project:
      default:
        target: auto
        threshold: 0%
        base: auto
      axios:
        flags:
          - axios
      browser-storage:
        flags:
          - browser-storage
      core:
        flags:
          - core
      memory:
        flags:
          - memory
      prismic:
        flags:
          - prismic
      react:
        flags:
          - react
flags:
  axios:
    paths:
      - packages/axios/**
    carryforward: true
  browser-storage:
    paths:
      - packages/browser-storage/**
    carryforward: true
  core:
    paths:
      - packages/core/**
    carryforward: true
  memory:
    paths:
      - packages/memory/**
    carryforward: true
  prismic:
    paths:
      - packages/prismic/**
    carryforward: true
  react:
    paths:
      - packages/react/**
    carryforward: true

chore: Fix unit tests
  package.json
  packages/axios/rollup.config.js
  packages/browser-storage/rollup.config.js
  packages/core/rollup.config.js
  packages/memory/rollup.config.js
  packages/prismic/rollup.config.js
  packages/react/rollup.config.js
  pnpm-lock.yaml
Due: axios, browser-storage, core, memory, prismic, react

chore: run workflow in migration branch
  .github/workflows/build.yml
Due: none

chore: fix mocks apps scripts
  mocks/core-react-app/config-overrides.js
  mocks/core-react-app/package.json
  mocks/core-vanilla-app/commands/copyLibrary.js
  mocks/core-vanilla-app/package.json
  mocks/react-react-app/config-overrides.js
  mocks/react-react-app/package.json
  pnpm-lock.yaml
Due: none

test: fix core nodejs cjs E2E tests
  test/core-nodejs-cjs-e2e/data/authors/selectors.js
  test/core-nodejs-cjs-e2e/data/books/selectors.js
  test/core-nodejs-esm-e2e/babel.config.json
  test/core-nodejs-esm-e2e/src/data/authors/selectors.js
Due: none

test: fix core nodejs e2e tests
  test/core-nodejs-cjs-e2e/data/authors/selectors.js
  test/core-nodejs-cjs-e2e/data/books/selectors.js
  test/core-nodejs-cjs-e2e/data/mock-provider/MockProvider.js
  test/core-nodejs-esm-e2e/src/data/authors/selectors.js
  test/core-nodejs-esm-e2e/src/data/books/selectors.js
  test/core-nodejs-esm-e2e/src/data/mock-provider/MockProvider.js
Due: none

chore: Do not run tests in Windows
  .github/workflows/build.yml
Due: none

test: remove flaky tests
  packages/core/sonar-project.properties
  packages/react/sonar-project.properties
  test/core-react-app-e2e/.gitignore
  test/core-react-app-e2e/cypress.json
  test/core-react-app-e2e/cypress/.eslintrc.json
  test/core-react-app-e2e/cypress/integration/demo.js
  test/core-react-app-e2e/cypress/plugins/index.js
  test/core-react-app-e2e/cypress/support/commands.js
  test/core-react-app-e2e/cypress/support/index.js
  test/core-react-app-e2e/cypress/support/page-objects/Authors.js
  test/core-react-app-e2e/cypress/support/page-objects/Books.js
  test/core-react-app-e2e/cypress/support/page-objects/common/List.js
  test/core-react-app-e2e/cypress/support/page-objects/common/Search.js
  test/core-vanilla-app-e2e/.gitignore
  test/core-vanilla-app-e2e/cypress.json
  test/core-vanilla-app-e2e/cypress/.eslintrc.json
  test/core-vanilla-app-e2e/cypress/integration/demo.js
  test/core-vanilla-app-e2e/cypress/plugins/index.js
  test/core-vanilla-app-e2e/cypress/support/commands.js
  test/core-vanilla-app-e2e/cypress/support/index.js
  test/core-vanilla-app-e2e/cypress/support/page-objects/Authors.js
  test/core-vanilla-app-e2e/cypress/support/page-objects/Books.js
  test/core-vanilla-app-e2e/cypress/support/page-objects/common/List.js
  test/core-vanilla-app-e2e/cypress/support/page-objects/common/Search.js
  test/core-web-specs/cypress/integration/demo.js
Due: core, react

chore: configure Sonar
  packages/axios/sonar-project.properties
  packages/browser-storage/sonar-project.properties
  packages/core/sonar-project.properties
  packages/memory/sonar-project.properties
  packages/prismic/sonar-project.properties
  packages/react/sonar-project.properties
Due: axios, browser-storage, core, memory, prismic, react

chore: change npm scope
  .github/workflows/publish-to-github.yml
Due: none

test: remove flaky tests
  test/react-e2e/cypress/integration/demo.js
Due: none

refactor: Fix Sonar smells
  packages/core/test/selector/cache-dependencies-clean-throttle.spec.js
  packages/core/test/selector/cache-dependencies-clean.spec.js
  packages/core/test/selector/cache-dependencies.spec.js
  packages/core/test/selector/cache.spec.js
  packages/core/test/selector/dependencies-error.spec.js
  packages/core/test/selector/dependencies-multiple.spec.js
  packages/core/test/selector/dependencies.spec.js
Due: core

refactor: fix Sonar smells
  packages/axios/mocks/routes/books/get.js
  packages/axios/mocks/routes/stats/get.js
  packages/axios/mocks/routes/stats/post.js
  packages/axios/test/selectors.spec.js
  packages/browser-storage/src/Storage.js
Due: axios, browser-storage

refactor: fix Sonar smells
  packages/react/test/usePolling.spec.js
  packages/react/test/withPolling.spec.js
Due: react

feat: fix examples
  examples/basic-tutorial/.env
  examples/basic-tutorial/package.json
  examples/custom-origins/package.json
  examples/custom-origins/usage-examples/selectors.js
  nx.json
  package.json
  pnpm-lock.yaml
Due: none

docs: add root docs. copy root docs to core package before publishing
  LICENSE
  NOTICE
  README.md
  packages/core/.gitignore
  packages/core/README.md
  packages/core/package.json
  packages/core/scripts/commands/build.mjs
  packages/core/scripts/constants.mjs
Due: core

docs: adpat docs to monorepo
  examples/basic-tutorial/README.md
  examples/custom-origins/README.md
  examples/custom-origins/package.json
  packages/axios/LICENSE
  packages/axios/README.md
  packages/browser-storage/LICENSE
  packages/browser-storage/README.md
  packages/memory/LICENSE
  packages/memory/README.md
  packages/prismic/LICENSE
  packages/prismic/README.md
  packages/react/LICENSE
  packages/react/README.md
Due: axios, browser-storage, memory, prismic, react

chore(deps): Update @mocks-server
  package.json
  packages/axios/_mocks.config.js
  packages/axios/mocks.config.js
  packages/axios/package.json
  packages/axios/test/axios-config.spec.js
  pnpm-lock.yaml
Due: axios

chore(deps): Remove old mocks-server config
  packages/axios/_mocks.config.js
Due: axios

chore: Do not build monorepo-migration branch
  .github/workflows/build.yml
Due: none

chore(deps): update babel monorepo
  package.json
  pnpm-lock.yaml
Due: none

chore(deps): Update dependencies
  package.json
  pnpm-lock.yaml
Due: none

chore(deps): update dependencies
  mocks/core-react-app/package.json
  mocks/react-react-app/package.json
  package.json
  packages/axios/package.json
  pnpm-lock.yaml
  test/core-nodejs-esm-e2e/package.json
Due: axios

chore(deps): update dependency @rollup/plugin-babel to v5.3.1
  package.json
  pnpm-lock.yaml
Due: none

chore(deps): update dependency react-scripts to v5
  package.json
  pnpm-lock.yaml
Due: none

chore(deps): update dependencies
  examples/custom-origins/README.md
  package.json
  pnpm-lock.yaml
Due: none

chore(release): upgrade versions
  packages/axios/CHANGELOG.md
  packages/axios/package.json
  packages/axios/sonar-project.properties
  packages/browser-storage/CHANGELOG.md
  packages/browser-storage/package.json
  packages/browser-storage/sonar-project.properties
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/core/sonar-project.properties
  packages/memory/CHANGELOG.md
  packages/memory/package.json
  packages/memory/sonar-project.properties
  packages/prismic/CHANGELOG.md
  packages/prismic/package.json
  packages/prismic/sonar-project.properties
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/react/sonar-project.properties
Due: axios, browser-storage, core, memory, prismic, react

chore(deps): Update dependencies
  package.json
  packages/axios/jest.config.js
  packages/axios/package.json
  packages/prismic/jest.config.js
  packages/react/jest.config.js
  pnpm-lock.yaml
Due: axios, prismic, react

docs: Add change to changelog
  packages/axios/CHANGELOG.md
Due: axios

chore(release): Upgrade version
  packages/axios/CHANGELOG.md
  packages/axios/package.json
  packages/axios/sonar-project.properties
Due: axios

docs: Add date to changelog
  packages/axios/CHANGELOG.md
Due: axios

style: Fix Sonar smell
  packages/react/test/MockProvider.js
Due: react

style: Fix Sonar smells
  packages/axios/src/helpers.js
  packages/core/test/provider/clean-cache-throttle.spec.js
  packages/core/test/selector/cache-dependencies-clean-throttle.spec.js
Due: axios, core

feat: Update axios dependency
  package.json
  packages/axios/.babelrc
  packages/axios/CHANGELOG.md
  packages/axios/babel.config.js
  packages/axios/jest.config.js
  packages/axios/jest.init.js
  packages/axios/package.json
  packages/axios/sonar-project.properties
  packages/axios/test/Axios.mock.js
  pnpm-lock.yaml
Due: axios

chore: Add discontinuation notice
  README.md
  examples/basic-tutorial/README.md
  examples/custom-origins/README.md
  packages/axios/CHANGELOG.md
  packages/axios/README.md
  packages/axios/package.json
  packages/browser-storage/CHANGELOG.md
  packages/browser-storage/README.md
  packages/browser-storage/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/memory/CHANGELOG.md
  packages/memory/README.md
  packages/memory/package.json
  packages/prismic/README.md
  packages/react/README.md
  packages/react/package.json
  renovate.json
Due: axios, browser-storage, core, memory, prismic, react
